<table mat-table [dataSource]="personajes" class="mat-elevation-z8" #tabla1>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Codigo </th>
    <td mat-cell *matCellDef="let personaje"> {{personaje.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let personaje"> {{personaje.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="poder">
    <th mat-header-cell *matHeaderCellDef> Poder </th>
    <td mat-cell *matCellDef="let personaje"> {{personaje.poder}} </td>
  </ng-container>

  <ng-container matColumnDef="pelicula">
    <th mat-header-cell *matHeaderCellDef> Pelicula </th>
    <td mat-cell *matCellDef="let personaje"> {{personaje.pelicula}} </td>
  </ng-container>

  <ng-container matColumnDef="borrar">
    <th mat-header-cell *matHeaderCellDef> Borra? </th>
    <td mat-cell *matCellDef="let j = index;">
      <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
        Borra?
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="seleccionar">
    <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
    <td mat-cell *matCellDef="let j = index;">
      <button mat-raised-button color="warn" focusable="false" (click)="seleccionar(j)">
        Seleccionar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>
<div class="contenedor">

  <mat-form-field *ngIf="isEdit">
    <input matInput [(ngModel)]="personajeSelect.id" type="number" placeholder="Ingrese código" readonly>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="personajeSelect.nombre" type="text" placeholder="Ingrese nombre del personaje">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="personajeSelect.poder" type="text" placeholder="Ingrese el poder del personaje">
  </mat-form-field>

  

  <mat-form-field>
    <input matInput [(ngModel)]="personajeSelect.pelicula" type="text" placeholder="Ingrese pelicula o anime del personaje">
  </mat-form-field>

  <button *ngIf="!isEdit" mat-raised-button color="primary" (click)="agregar()">Agregar</button>
  <button *ngIf="isEdit" mat-raised-button color="primary" (click)="modificar()">Editar</button>
  

  <button mat-raised-button color="secondary" (click)="reset()" style="margin-top: 12px;">Cancelar</button>
  <button mat-raised-button color="accent" (click)="descargar()" style="margin-top: 12px;">Descargar</button>
  
</div>